{% extends "base.html" %}
{% load static %}

{% block header %}
<header class="header-default">
    <nav class="navbar navbar-expand-lg">
        <div class="container-xl">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/inkwell_logo.svg' %}" alt="logo" style="height: auto; width: 180px;" />
            </a>
        </div>
    </nav>
</header>
{% endblock header %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-70">
    <div class="card shadow-sm border-0 p-4" style="width: 100%; max-width: 400px;">
        <div class="card-body text-center">
            <div class="mb-3 text-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                    class="bi bi-shield-check" viewBox="0 0 16 16">
                    <path
                        d="M5.338 1.59a6.1 6.1 0 0 0-2.837.856.48.48 0 0 0-.24.41v4.23c0 3.22 2.03 6.11 5.113 7.183a.48.48 0 0 0 .328 0c3.083-1.073 5.113-3.963 5.113-7.183V2.856a.48.48 0 0 0-.24-.41 6.1 6.1 0 0 0-2.837-.856.48.48 0 0 0-.328 0l-1.873.651a.48.48 0 0 1-.328 0zM7.3 11.3a.5.5 0 0 1-.707 0L4.35 9.05a.5.5 0 1 1 .707-.707l1.893 1.893 3.893-3.893a.5.5 0 1 1 .707.707l-4.25 4.25z" />
                </svg>
            </div>
            <h2 class="card-title mb-3 fw-bold text-dark">Success!</h2>
            <p class="small text-muted mb-4">Your password has been reset successfully. You can now log in with your new
                password.</p>

            <div class="d-grid">
                <a href="{% url 'login' %}" class="btn btn-default btn-loading">Sign In</a>
            </div>
        </div>
    </div>
</div>

{% endblock body %}