{% extends "base.html" %}
{% load static %}

{% block header %}
<header class="header-default">
    <nav class="navbar navbar-expand-lg">
        <div class="container-xl">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/inkwell_logo.svg' %}" alt="logo" style="height: auto; width: 180px;" />
            </a>
        </div>
    </nav>
</header>
{% endblock header %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-70">
    <div class="card shadow-sm border-0 p-4" style="width: 100%; max-width: 400px;">
        <div class="card-body text-center">
            <div class="mb-3 text-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                    class="bi bi-envelope-check" viewBox="0 0 16 16">
                    <path
                        d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l.7-1.284a.5.5 0 0 0-.28-.216L1.034 4.886A1 1 0 0 1 2 4h12a1 1 0 0 1 .966.741l-4.22 2.597a.5.5 0 1 0 .532.846l4.22-2.597A2 2 0 0 0 14 4a2 2 0 0 0-2-2z" />
                    <path
                        d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.707-.02l-1.812 1.767-.741-.74a.5.5 0 0 0-.707.707l1.05 1.05a.5.5 0 0 0 .707 0l2.16-2.112a.5.5 0 0 0-.05-.712" />
                </svg>
            </div>
            <h2 class="card-title mb-3 fw-bold text-dark">Check Your Email</h2>
            <p class="small text-muted mb-4">We've sent password reset instructions to your email address. If you don't
                see it soon, please check your spam folder.</p>

            <div class="d-grid">
                <a href="{% url 'login' %}" class="btn btn-default">Return to Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}